In [167]:
import pandas as pd  
import json

In [168]:
df = pd.DataFrame()

In [169]:
start = 1
num = 10000

In [170]:
f = open('./dev.jsonl',encoding='utf-8')
lines = f.readlines()

In [171]:
if(len(lines)<num):
    num = len(lines)

In [172]:
jsonArray = []
for rowNumber in range(start-1,start-1+num):
    item = json.loads(lines[rowNumber])
    array = []
    for e in item['annotations']:
        if(e['short_answers'] != [] and e['short_answers'][0]['start_token'] != -1 and e['short_answers'][0]['end_token'] != -1):
            for token in e['short_answers']:
                stringArr = []
                for i in range(token['start_token'],token['end_token']):
                    stringArr.append(item['document_tokens'][i]['token'])
                array.append(" ".join(stringArr))
    newItem = {
        "document_title":item['document_title'],
        'question_text':item['question_text'],
        'yes_no_answer':list(map(lambda x: x['yes_no_answer'],item['annotations']))
    }
    for no in range(0,len(array)):
        newItem[f'short_answer{no+1}']= array[no]
    df2 = pd.DataFrame([newItem])
    df = pd.concat([df, df2])
    # print(newItem)

In [173]:
# df

In [174]:
df.to_csv(f'file{start}-{start+num-1}.csv')

In [175]:
df.columns

Index(['document_title', 'question_text', 'yes_no_answer', 'short_answer1',
       'short_answer2', 'short_answer3', 'short_answer4', 'short_answer5',
       'short_answer6', 'short_answer7', 'short_answer8', 'short_answer9',
       'short_answer10', 'short_answer11', 'short_answer12', 'short_answer13',
       'short_answer14', 'short_answer15', 'short_answer16', 'short_answer17',
       'short_answer18', 'short_answer19', 'short_answer20', 'short_answer21',
       'short_answer22', 'short_answer23', 'short_answer24', 'short_answer25',
       'short_answer26', 'short_answer27', 'short_answer28', 'short_answer29',
       'short_answer30', 'short_answer31', 'short_answer32', 'short_answer33',
       'short_answer34', 'short_answer35', 'short_answer36', 'short_answer37',
       'short_answer38', 'short_answer39', 'short_answer40', 'short_answer41',
       'short_answer42', 'short_answer43', 'short_answer44', 'short_answer45',
       'short_answer46', 'short_answer47', 'short_answer48', 'short_answer49',
       'short_answer50'],
      dtype='object')

In [177]:
df.head()

,document_title,question_text,yes_no_answer,short_answer1,short_answer2,short_answer3,short_answer4,short_answer5,short_answer6,short_answer7,...,short_answer41,short_answer42,short_answer43,short_answer44,short_answer45,short_answer46,short_answer47,short_answer48,short_answer49,short_answer50
0,Therefore sign,what do the 3 dots mean in math,"[NONE, NONE, NONE, NONE, NONE]",the therefore sign ( ∴ ) is generally used bef...,the therefore sign,"a logical consequence , such as the conclusion...",therefore sign,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Watchman (law enforcement),when was the writ watch invented by who,"[NONE, NONE, NONE, NONE, NONE]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Photograph (Ringo Starr song),who wrote the song photograph by ringo starr,"[NONE, NONE, NONE, NONE, NONE]",Ringo Starr,George Harrison,Richard Starkey,George Harrison,Ringo Starr,George Harrison,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Super Bowl 50 halftime show,who is playing the halftime show at super bowl...,"[NONE, NONE, NONE, NONE, NONE]",Coldplay with special guest performers Beyoncé...,Coldplay,Beyoncé,Bruno Mars,British rock group Coldplay with special guest...,Coldplay,Beyoncé,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Matt Lanter,star wars the clone wars anakin voice actor,"[NONE, NONE, NONE, NONE, NONE]",Matthew MacKendree `` Matt '' Lanter,Matthew MacKendree `` Matt '' Lanter,Matthew MacKendree `` Matt '' Lanter,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN